.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(240, 248, 255, 0.356);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    margin-left: 5%;
}

.nav {
    width: 35%;
}

.nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #6b21a8;
    font-weight: 500;
}

.btn-contact {
    background: linear-gradient(135deg, #7c3aed, #2563eb);
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 999px;
    cursor: pointer;
}